@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cantata+One&family=Orbitron:wght@400..900&display=swap');
@font-face {
    font-family: 'Android';
    src: url(../assets/fontes/idroid.otf) format('opentype');
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(192, 191, 191);
}

:root {
    /*Paleta de cores*/
    --cor01: #18B84D;
    --cor02: #2C8549;
    --cor03: #2B5238;
    --cor04: #26332A;
    --cor05: black;
    --cor06: white;

    /*Fontes do projeto*/
    --fontePadrao: Verdana , Geneva , Tahoma , sans-serif;
    --fonteTitulo: 'Android', serif;
    --fonteDestaque: "Orbitron", sans-serif;
}

header {
    background-image: linear-gradient(to bottom, var(--cor02), var(--cor04));
    min-height: 150px;
}

header > h1 {
    font-family: var(--fonteDestaque);
    color: var(--cor06);
    font-size: 2.6em;
    text-shadow: 2px 2px 2px black;

    text-align: center;
    padding: 30px;
}

header > p {
    display: block;
    max-width: 400px;
    margin: auto;
    padding-bottom: 30px;
    text-shadow: 2px 2px 2px black;

    text-align: center;
    font-family: var(--fontePadrao);
    color: var(--cor06);
}

header > nav {
    background-color: var(--cor04);
    padding: 5px;
}

header > nav > ul > li {
    display: inline-block;
    padding: 0px 10px;
}

header > nav > ul > li > a {
    color: var(--cor06);
    font-family: var(--fontePadrao);
    text-decoration: none;
}

header > nav > ul > li > a::after {
    content: " /";
}

header > nav > ul > li > a:hover {
    text-decoration: underline;
    color: var(--cor01);
}

main {
    background-color: white;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.308);
    border-radius: 0px 0px 10px 10px;
}

main > article > h1, 
main > article > h2 {
    font-family: var(--fonteTitulo);
    background-image: linear-gradient(to right, var(--cor01), transparent);

    margin-bottom: 8px;
    padding: 0px 10px;
    border-radius: 10px;
}

article > h1 {
    font-size: 1.8em;
    color: var(--cor04);
    border: 1px solid var(--cor04);
}

article > h2 {
    color: var(--cor04);
    border: 1px solid var(--cor01);
}


main > article > p {
    font-size: 1.1em;
    line-height: 1.3em;
}

main > article > p.primeiro-paragrafo {
    text-indent: 20px;
}

main > article > p.ultimo-paragrafo {
    padding-bottom: 40px;
}

main img {
    padding: 10px 0px;
}

main strong {
    color: var(--cor04);
}

main a {
    background-color: var(--cor03);
    color: var(--cor06);
    text-decoration: none;
    border-radius: 4px;
    transition: 0.4s;

    padding: 0px 5px;
}

main a::after {
    content: " 🔗";
}

main a:hover {
    text-decoration: underline;
    border: 1px solid black;
}

article > picture > img {
    width: 100%;
    margin: auto;
}

article > img {
    display: block;
    margin: auto;
}

footer {
    background-image: linear-gradient(to top, var(--cor02), var(--cor04));
    color: var(--cor01);
    text-align: center;
    font-size: 1.3em;

    margin-top: 10px;
    padding: 20px;
}

footer > strong > a,
footer > strong {
    color: var(--cor06);
    text-decoration: none;
    font-family: var(--fonteDestaque);
}

footer > strong > a:hover {
    text-decoration: underline;
}